apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: worker
  template:
    metadata:
      labels:
        component: worker
    spec:
      nodeSelector:
        doks.digitalocean.com/node-pool: default-pool
      containers:
        - name: worker
          image: itsdevin/bow-mark-server:$COMMIT_SHA1
          resources:
            requests:
              cpu: "250m"
              memory: "500Mi"
            limits:
              cpu: "1000m"
              memory: "2000Mi"
          env:
            - name: NODE_ENV
              value: production
            - name: APP_NAME
              value: Paving
            - name: APP_TYPE
              value: worker
            - name: SEARCH_GROUP
              value: bow-mark-paving
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: paving
                  key: mongoURI
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: general
                  key: jwtSecret
            - name: SPACES_NAME
              valueFrom:
                secretKeyRef:
                  name: spaces
                  key: name
            - name: SPACES_REGION
              valueFrom:
                secretKeyRef:
                  name: spaces
                  key: region
            - name: SPACES_KEY
              valueFrom:
                secretKeyRef:
                  name: spaces
                  key: key
            - name: SPACES_SECRET
              valueFrom:
                secretKeyRef:
                  name: spaces
                  key: secret
            - name: EMAIL
              valueFrom:
                secretKeyRef:
                  name: email
                  key: email
            - name: EMAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: email
                  key: username
            - name: EMAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: email
                  key: password
            - name: EMAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: email
                  key: host
            - name: EMAIL_PORT
              valueFrom:
                secretKeyRef:
                  name: email
                  key: port
            - name: SEARCH_HOST
              valueFrom:
                secretKeyRef:
                  name: search
                  key: host
            - name: SEARCH_API_KEY
              valueFrom:
                secretKeyRef:
                  name: search
                  key: apiKey
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: host
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: port
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: password
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: dbPaving
            - name: RABBITMQ_HOST
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: host
            - name: RABBITMQ_PORT
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: port
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: user
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: password
            - name: RABBITMQ_VHOST
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: vhost
