name: Build and Deploy

on:
  push:
    branches: [production]

env:
  SERVER_IMAGE_NAME: itsdevin/bow-mark-server
  CLIENT_IMAGE_NAME: itsdevin/bow-mark-client
  CLIENT_CONCRETE_IMAGE_NAME: itsdevin/bow-mark-concrete-client

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker images
        run: |
          docker build -t $SERVER_IMAGE_NAME:latest ./server

          touch ./client/.env.local
          echo "SSR_API_URL=https://paving.bowmark.ca/graphql" >> ./client/.env.local
          echo "NEXT_PUBLIC_APP_NAME=Paving" >> ./client/.env.local
          echo "NEXT_PUBLIC_API_URL=https://paving.bowmark.ca/graphql" >> ./client/.env.local
          echo "NEXT_PUBLIC_WS_API_URL=wss://paving.bowmark.ca/graphql" >> ./client/.env.local
          echo "NEXT_PUBLIC_ANALYTICS_ID=G-ZJFP23D24Y" >> ./client/.env.local
          echo "NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAQHGi8N0C03ZpAWz6XhVTZI1xtxg31ag8" >> ./client/.env.local
          rm ./client/public/manifest.json
          cp ./client/public/manifest-paving.json ./client/public/manifest.json
          docker build -t $CLIENT_IMAGE_NAME:latest ./client

          > ./client/.env.local
          echo "SSR_API_URL=https://concrete.bowmark.ca/graphql" >> ./client/.env.local
          echo "NEXT_PUBLIC_APP_NAME=Concrete" >> ./client/.env.local
          echo "NEXT_PUBLIC_API_URL=https://concrete.bowmark.ca/graphql" >> ./client/.env.local
          echo "NEXT_PUBLIC_WS_API_URL=wss://concrete.bowmark.ca/graphql" >> ./client/.env.local
          echo "NEXT_PUBLIC_ANALYTICS_ID=G-8798JH035P" >> ./client/.env.local
          echo "NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAQHGi8N0C03ZpAWz6XhVTZI1xtxg31ag8" >> ./client/.env.local
          rm ./client/public/manifest.json
          cp ./client/public/manifest-concrete.json ./client/public/manifest.json
          docker build -t $CLIENT_CONCRETE_IMAGE_NAME:latest ./client

      - name: Push Docker images
        run: |
          echo "${{ secrets.DOCKERHUB_PASS }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

          docker tag $SERVER_IMAGE_NAME:latest $SERVER_IMAGE_NAME:${{ github.sha }}
          docker push $SERVER_IMAGE_NAME:latest
          docker push $SERVER_IMAGE_NAME:${{ github.sha }}

          docker tag $CLIENT_IMAGE_NAME:latest $CLIENT_IMAGE_NAME:${{ github.sha }}
          docker push $CLIENT_IMAGE_NAME:latest
          docker push $CLIENT_IMAGE_NAME:${{ github.sha }}

          docker tag $CLIENT_CONCRETE_IMAGE_NAME:latest $CLIENT_CONCRETE_IMAGE_NAME:${{ github.sha }}
          docker push $CLIENT_CONCRETE_IMAGE_NAME:latest
          docker push $CLIENT_CONCRETE_IMAGE_NAME:${{ github.sha }}

      - name: Install tools
        run: |
          sudo apt-get update && sudo apt-get -y install gettext-base

          curl -sSL "https://dl.k8s.io/release/$(curl -sSL https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" -o kubectl
          chmod +x kubectl

          curl -sSL https://github.com/digitalocean/doctl/releases/download/v1.114.0/doctl-1.114.0-linux-amd64.tar.gz \
            | tar -xz
          chmod +x doctl

      - name: Deploy to DigitalOcean
        env:
          DO_API_TOKEN: ${{ secrets.DO_API_TOKEN }}
          DO_CLUSTER: ${{ secrets.DO_CLUSTER }}
          COMMIT_SHA1: ${{ github.sha }}
        run: sh ./scripts/ci-deploy.sh
